@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main-div{
    height: 70%;
    width: 50%;
    background-color: aquamarine;
    border-radius: 7px;
    position: relative;
}

.welcome{
    text-shadow: 2px 2px #05949b;
    font-size: 2em;
}

.pic-div img{
    height: auto;
    max-width: 100%;
}

.exit{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    margin: 0;
}

.exit:hover{
    font-size: 2em;
    color: red;
    cursor: pointer;
}

.sec-page{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000000d1;
    border-radius: 7px;
}

.weather-details{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to right,#2c2c8d,#5c8d9d) ;
    position: absolute;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility:hidden;
    z-index: 3;
}

input{
    width: 250px;
    height: 40px;
    border-radius: 7px;
    border: none;
    font-size: 1em;
    padding-left: 10px

}

input:focus{
    outline: none;
    border: 1px solid green;
    
}

.search-btn{
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 7px;
    font-size: 1em;
}

.search-btn:hover{
    cursor: pointer;
    background-color: crimson;
    color: white;
}

.search-container{
    height: 100%;
    /* background-color: blue; */
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#imgIconW{
    height: 100px;
}

.humidity{
    height: 80px;
    
}

.get-started-btn{
    height: 60px;
    width: 160px;
    border: none;
    border-radius: 30px;
    font-size: 1.5em;
    font-weight: 400;
}

.get-started-btn:hover{
    cursor: pointer;
    background-color: aqua;
    border: 1px solid green;
}

.center-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.welcome-div{
    height: 80px;
   
}

.btn-div{
    height: 100px;
    
}

.pic-div{
    height: calc(100% - 180px);
    display: flex;
    justify-content: center;
    
}

.main-igm-div{
    height: 55%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.humidity-wind{
    height: 35%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.img-div{
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.degree-city-div{
    height: 40%;
    width: 56%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description{
    color:white;
}

.weather-icon{
    height: 100%;
    max-width: 65%;
}

#dayTime{
    color: white;
    font-size: 1.5em;
}

.degrees{
    margin: 0;

}

.city-name{
    margin: 0;
}

.wind-icon{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.humidity-icon{
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.wind{
    max-width: 80%;
    height: 40%;
}

.margin0{
    margin: 0;
}

#prev{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    color: white;
}

#prev:hover{
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 997px) {
    .welcome{
        font-size: 1.5em;
    }
  }

  @media screen and (max-width: 761px) {
    .welcome{
        font-size: 1.3em;
    }
  }

  @media screen and (max-width: 660px) {
    .welcome{
        font-size: 1em;
    }
  }

  @media screen and (max-width: 828px) {
    #dayTime{
        font-size: 1em;
    }
  }

  @media screen and (max-width: 616px) {
    .city-name{
        font-size: 1em;
    }
  }

  @media screen and (max-width: 460px) {
    .margin0{
        font-size: 10px;
    }
  }